In [14]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [15]:
df=pd.read_csv("insurance.csv")

In [16]:
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [17]:
print(df.columns)

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [18]:
df = pd.get_dummies(df, columns=['sex', 'smoker', 'region'], drop_first=True)

In [19]:
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,False,True,False,False,True
1,18,33.77,1,1725.5523,True,False,False,True,False
2,28,33.00,3,4449.4620,True,False,False,True,False

In [20]:
# Buradaki önemli adım: Tüm boolean tipindeki sütunları integer (0/1) tipine dönüştürme
for col in df.select_dtypes(include=['bool']).columns:
    df[col] = df[col].astype(int)

In [21]:
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,0,1,0,0,1
1,18,33.77,1,1725.5523,1,0,0,1,0
2,28,33.00,3,4449.4620,1,0,0,1,0

In [22]:
y=df["charges"]
x=df.drop(columns=["charges"])

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=75,test_size=0.9)

In [24]:
lr=LinearRegression()
model=lr.fit(x_train,y_train)
model.score(x_test,y_test)

0.7297541709465831

In [25]:
rf=RandomForestRegressor(n_estimators=200)
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

0.8152989933561503